@import "../settings/grid-variable";
@import "../settings/typo-variable";

.services {
    $section-bg: #f1f1f1;
    $title-color: #343434;
    
    padding: ($header-page-height + 30px) 0 30px;
    min-height: 100vh;
    background: $section-bg;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    @media(min-width: $md) {
        padding: ($header-page-height_md + 100px) 0 100px;
        text-align: left;
    }
    
    &-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        @media(min-width: $md) {
            flex-direction: row;
        }
    }
    
    &-content {
        
        @media(min-width: $md) {
            width: 50%;
        }
    }
    
    &-img {
        
        @media(min-width: $md) {
            width: 50%;
        }
            @media(max-width: $smaller-then-md){
                display: none;
            }
        
        img {
            margin-left: auto;
            margin-right: auto;
            max-width: 380px;
            width: 100%;
            display: block;
            height: auto;
            border-radius: 50%;
            box-shadow: 0 0 5px 0 rgba(#000, 0.5);
        }
    }
    
    &-title {
        margin-bottom: 10px;
        color: $title-color;
        font-size: 25px;
        font-weight: $font-bold;
        
        @media(min-width: $md) {
            font-size: 30px;
        }
        
        .custom_icon-dash {
            
            @media(max-width: $smaller-then-md){
                display: none;
            }
        }
    }
    
    &-subtitle {
        font-weight: $font-medium;
    }
    
    &-header {
        margin-bottom: 50px;
    }
    
    &-item {
        counter-increment: index;
        margin-bottom: 35px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        @media(min-width: $md) {
        margin-bottom: 50px;
            flex-direction: row;
        }
        
        &_index {
            display: flex;
            
            @media(max-width: $smaller-then-md){
                margin-bottom: 15px;
            }
            
            &:before {
                content: counter(index, decimal-leading-zero);
                margin-right: 10px;
                display: inline-block;
                color: #c8c5c5;
                font-size: 12px;
                font-weight: $font-bold;
                letter-spacing: 0.5px;
            }
        }
        
        &-icon {
            width: 90px;
            height: 90px;
            min-width: 90px;
            height: 90px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
            overflow: hidden;
            box-shadow: 0 0 3px 0 rgba(#000, 0.5);
        }
        
        &-title {
            margin-bottom: 7px;
        }
        
        &-content {
            line-height: 1.5;
            
            @media(min-width: $md) {
               padding-left: 38px;
            }
            
            p {
                line-height: inherit;
            }
            
            strong {
                
                @media(max-width: $smaller-then-md){
                    margin-bottom: 10px;
                    display: block;
                }
            }
        }
        
        
        .custom_icon-dash {
            
            @media(max-width: $smaller-then-md){
                display: none;
            }
        }
    }
    
    :first-child {
        margin-top: 0;
    }
    
    :last-child {
        margin-bottom: 0;
    }
}